# Created by .ignore support plugin (hsz.mobi)
# Compiled class file

# Log file
*.log

# Package Files #
*.jar
*.war
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# idea config file
*.iml
**/*.iml

.idea
**/.idea

# vscode config
.vscode
**/.vscode

# project file
.project
**/.project

# maven compile target directory

target
**/target

# maven config directory
.mvn
**/.mvn

# eclipse settings directory
.settings
**/.settings

# eclipse classpath file
.classpath
**/.classpath